# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_COMPANION-TOTEM_LEFT

config ZMK_KEYBOARD_NAME
    default "COMPANION-TOTEM"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COMPANION-TOTEM_LEFT || SHIELD_COMPANION-TOTEM_RIGHT

config ZMK_SPLIT
    default y

endif
