# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_COMPANION_TOTEM_TP_RIGHT

config ZMK_KEYBOARD_NAME
    default "COMPANION_TP"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COMPANION_TOTEM_TP_LEFT || SHIELD_COMPANION_TOTEM_TP_RIGHT

config ZMK_SPLIT
    default y

endif
